/* 覆蓋層的基本樣式 */
.cloud-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1000;
}

.cloud-container {
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    animation: bg_w 1.5s ease-in-out alternate 2;
    /*alternate類似呼吸燈的效果*/
}

/* 雲朵樣式 */
.cloud {
    position: absolute;
    width: 500px;
    transform: translateY(-30%);
}

/* 左側雲朵 */
.cloud-left {
    animation: moveLeft 1.5s forwards ease-in-out;
}

/* 右側雲朵 */
.cloud-right {
    animation: moveRight 1.5s forwards ease-in-out;
}

/* 左移動動畫 */
@keyframes moveLeft {
    0% {
        transform: translate(0, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-100vw, -50%);
        opacity: 0;
    }
}

/* 右移動動畫 */
@keyframes moveRight {
    0% {
        transform: translate(0, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(100vw, -50%);
        opacity: 0;
    }
}

@keyframes bg_w {
    0% {}

    100% {
        background-color: white;
    }
}