:root{
  --sidebar_body:rgb(255,220,121);
}

/* 下拉式樣式 */
#dt-length-0 {
  width: 200px;
  margin-left: 10px;
}
#side_dt_length {
  width: 200px;
  margin-left: 10px;
}
/* tbody樣式 */
#side_dt tbody tr{
  background-color: var(--sidebar_body);
  color: black;
}
#side_dt tbody td{
  background-color: var(--sidebar_body);
}
/* 選頁樣式 */
.dt-paging-button {
  padding: 0 !important;
}
/* 詳細資訊視窗樣式st */
.custom-offcanvas {
  position: absolute;
  top: 5vw;
  right: 20vw !important;
  border-radius: 10px;
  height: 100%;
  width: 25vw;
  transform: none !important;
  transition: none !important;
  background-color: rgb(255, 193, 7);
  border: 9px solid #DAA520 !important;
}
.button-container{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10px;
}
.button-container button{
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(220,210,120);
}
.button-container button:hover{
background-color: rgb(240,230,140);
}
/* 詳細資訊視窗樣式end */