
/* 下拉式樣式 */
#dt-length-0 {
  width: 200px;
  margin-left: 10px;
}
/* tbody右樣式 */
#side_dt tbody tr{
  background-color: aqua;
}
/* tbody左樣式 */
#side_dt tbody tr .sorting_1{
  background-color: aqua;
}